<!DOCTYPE html>
<head>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/pure/0.3.0/pure-min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js" type="text/javascript"></script>
  <script src="/js/app.js" type="text/javascript"></script>
  <title>Archery Spine Measurement</title>
</head>
<body ng-app="archeryApp">
  <div id="header" class="pure-g">
    <div id="header1" class="pure-u-1-5">&nbsp;</div>
    <div id="header2" class="pure-u-1-5">&nbsp;</div>
    <div id="header3" class="pure-u-1-5">&nbsp;</div>
    <div id="header4" class="pure-u-1-5">&nbsp;</div>
    <div id="header5" class="pure-u-1-5">&nbsp;</div>
  </div>
  <div class="pure-g">
    <div id="main-content" class="pure-u">
      <h2>Spine Calculator</h2>
      <form ng-controller="formCtrl" class="pure-form pure-form-stacked">
        <input placeholder="draw length" ng-model="draw" type="text">
        <input placeholder="bow poundage" ng-model="pound" type="text">
        <input placeholder="point weight (grains)" ng-model="point" type="text">
        <button ng-click="calculate()" class="pure-button pure-button-primary">Calculate</button>
        <button ng-click="clear()" class="pure-button pure-button-primary">Clear</button>
        <p ng-show="deflection != null">arrow deflection: {{deflection}}</p>
      </form>
    </div>
  </div>
</body>