%html
  %head
    %link{:href => "http://cdnjs.cloudflare.com/ajax/libs/pure/0.3.0/pure-min.css", :rel => "stylesheet"}
    %link{:href => "/css/style.css", :rel => "stylesheet"}
    %title the fuck is this bullshit

  %body 
    %div{:class => "pure-g"}
      #sidebar.pure-u-1-4
        %h3 don't really care what goes here...
      #main-content.pure-u-1-2
        %h3 other stuff