doctype html

head 
    link(href='http://cdnjs.cloudflare.com/ajax/libs/pure/0.3.0/pure-min.css' rel='stylesheet')
    link(href='/css/style.css' rel='stylesheet')
    title archery spine measurement

body
    div.pure-g
        div#sidebar.pure-u-1-4
            h3 don't really care what goes here...

        div#main-content.pure-u-1-2
            h3 other stuff
            p look at this artsy picture of arrows, whoopw hoop
            p 
                img(src="/img/arrows.jpg" width='300')

            h2 stuff
            form.pure-form.pure-form-stacked
                input(placeholder='thing' type='text')
                input(placeholder='stuff' type='text')
                input(placeholder='other' type='text')
                button.pure-button.pure-button-primary does nothing

            p trying real hard over here
